/* information */

.col_info {
  border-radius: 24px;
  background: #fff;
  margin: 180px;
  margin-left: 40px;
  flex-shrink: 0;
  width: 1550px;
}
.col-p {
  color: var(--gray-gray-500, #282739);
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.col-input {
  display: flex;
  width: 520px;
  height: 44px;
  padding: 12px 16px;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border: none;
}
/* information */

/* MenuHeader */
.col-header {
  color: var(--orange-orange-400, #ff9138);
  font-family: Nunito;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}
.col-p1 {
  color: var(--gray-gray-300, #7e7d88);
  font-family: Nunito;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  margin-top: 15px;
  
}
.col-p2 {
  color: var(--gray-gray-400-text, #535261);
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  margin-top: -20px;
  
  
}
.col-icon1 {
  background: var(--orange-orange-50, #fff2e7);
  color: #ffac6a;
  display: flex;
width: 32px;
height: 32px;
padding: 6px;
justify-content: center;
align-items: center;
flex-shrink: 0;
border-radius: 32px;
border: none;
}
/* MenuHeader */

/* Notification */
.notification-container {
  background: white;
  border-radius: 14px;
  /* Thêm bóng đổ */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Có thể điều chỉnh màu và độ mờ của bóng đổ tại đây */
  /* Thêm lớp chồng lên */
  position: relative;
  z-index: 1; /* Đặt giá trị lớn hơn 0 để đảm bảo nằm trên các phần tử có giá trị z-index nhỏ hơn */
  
}
/* Đảm bảo rằng lớp chồng lên sẽ che phủ phần tử tiếp theo */
.notification-container + * {
  position: relative;
  z-index: 0;
  max-width: 500px; /* Giới hạn chiều rộng tối đa của thông báo */
  max-height: 500px; /* Giới hạn chiều cao tối đa của thông báo */
}
.col-notification{
  overflow: auto;
  max-width: 500px; /* Giới hạn chiều rộng tối đa của thông báo */
  max-height: 500px; /* Giới hạn chiều cao tối đa của thông báo */
}
.col-title1 {
  background: var(--orange-orange-400, #FF9138);
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  color: var(--white, #FFF);
font-family: Nunito;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 50px; /* 150% */
}


/* Notification */